.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    backdrop-filter: blur(4px);
  }

  &__content {
    position: relative;
    background: var(--color-card);
    border-radius: var(--card-border-radius);
    box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 1001;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(1rem, 0.894rem + 0.44vw, 1.25rem)
      clamp(0.875rem, 0.611rem + 1.11vw, 1.5rem);
    border-bottom: 1px solid var(--border-color);
  }

  &__title {
    font-size: 24px;
    color: var(--color-accent);
    margin: 0;
  }

  &__close-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    color: var(--color-text);
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;

    &__span {
      position: absolute;
      left: 0;
      top: 50%;
      transform-origin: center;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background: var(--color-text);
      transition: all 0.3s ease;
    }

    &__span:first-child {
      transform: rotate(45deg);
    }

    &__span:last-child {
      transform: rotate(-45deg);
    }

    @media (hover: hover) {
      &:hover:enabled &__span {
        background: var(--color-button-hover);
      }

      &:active:enabled &__span {
        background: var(--color-button-active);
      }
    }
  }

  &__body {
    padding: clamp(0.875rem, 0.611rem + 1.11vw, 1.5rem);
    border-bottom: 1px solid var(--border-color);
  }

  &__footer {
    padding: clamp(1rem, 0.894rem + 0.44vw, 1.25rem)
      clamp(0.875rem, 0.611rem + 1.11vw, 1.5rem);
    border-top: 1px solid var(--color-border);
    text-align: center;
  }
}
