.results-table {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);

    &-title {
      width: calc(100% / 5);
      font-size: 20px;
      font-weight: 400;
      color: var(--color-text);
      text-align: center;
    }
  }

  &__body {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 2px;
  }

  &__cell {
    width: calc(100% / 5);
    font-size: 20px;
    text-align: center;
  }

  &__empty {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
  }
}
