.start-screen {
  padding: clamp(1.25rem, 0.458rem + 3.33vw, 3.125rem);
  background: var(--color-card);
  border-radius: var(--card-border-radius);
  box-shadow:
    0 3px 6px var(--box-shadow-first-color),
    0 3px 6px var(--box-shadow-second-color);
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  align-self: center;

  &__title {
    font-size: clamp(1.875rem, 1.4rem + 2vw, 3rem);
    color: var(--color-accent);
    margin-bottom: 20px;
  }

  &__author {
    text-align: center;
    margin-bottom: 30px;

    &-span {
      display: inline-block;
      margin-right: 10px;
    }

    &-link {
      font-size: 20px;
      color: var(--color-accent);
      border-bottom: 1px solid var(--border-color);
      transition: all 0.3s ease;
    }
  }

  &__mode-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
  }

  &__controls-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  &__controls-btn {
    width: 31%;
  }
}

@media (width <= 767px) {
  .start-screen {
    &__controls-wrapper {
      flex-direction: column;
      gap: 10px;
    }

    &__controls-btn {
      width: 100%;
    }
  }
}

@media (hover: hover) {
  .start-screen__author-link:hover {
    color: var(--color-text);
  }

  .start-screen__author-link:active {
    border-color: var(--color-text);
  }
}
