.game-screen {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  align-self: center;
  padding: clamp(0.625rem, 0.361rem + 1.11vw, 1.25rem);
  color: var(--color-text);
  background: var(--color-card);
  border-radius: var(--card-border-radius);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);

    &-mode {
      width: 50%;
      font-size: clamp(1.75rem, 1.644rem + 0.44vw, 2rem);
      font-weight: 700;
      color: var(--color-accent);
    }

    &-game-stats {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }

    &-timer {
      &-text {
        font-size: clamp(1.375rem, 1.322rem + 0.22vw, 1.5rem);
        font-weight: 400;
        color: var(--color-text);
        margin-bottom: 5px;
      }

      &-display {
        font-size: clamp(1.75rem, 1.644rem + 0.44vw, 2rem);
        color: var(--color-timer);
      }
    }

    &-score {
      &-text {
        text-align: right;
        font-size: clamp(1.375rem, 1.322rem + 0.22vw, 1.5rem);
        margin-bottom: 5px;
      }

      &-display {
        font-size: clamp(1.75rem, 1.644rem + 0.44vw, 2rem);
        color: var(--color-score);
      }
    }
  }

  &__progress-bar {
    margin-bottom: 30px;

    &-text {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &-container {
      height: 20px;
      border: 2px solid var(--color-accent);
      border-radius: var(--progress-bar-radius);
      overflow: hidden;
    }

    &-fill {
      border-radius: var(--progress-bar-radius);
      width: 0%;
      height: 100%;
      background: var(--color-accent);
      transition: all 0.3s ease;
    }
  }

  &__grid {
    border: 1px solid var(--border-color);
    box-shadow:
      0 1px 2px var(--box-shadow-first-color),
      0 1px 2px var(--box-shadow-second-color);
    margin-bottom: 30px;
  }

  .game-grid {
    display: grid;
    gap: 2px;

    &__row {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      min-height: clamp(2rem, 1.789rem + 0.89vw, 2.5rem);
      gap: 2px;
    }

    &__cell {
      font-size: clamp(1.125rem, 0.967rem + 0.67vw, 1.5rem);
      padding: clamp(0.188rem, 0.135rem + 0.22vw, 0.313rem);
      border-radius: var(--cell-border-radius);
      background: var(--color-cell-number);
      color: var(--color-text);
      border: 1px solid var(--border-color);
      transition: all 0.3s ease;
      cursor: pointer;

      &--empty {
        background: var(--color-cell-empty);
        pointer-events: none;
      }

      &--blank {
        border: none;
        background: none;
        pointer-events: none;
      }

      &--selected {
        background: var(--color-cell-selected);
      }

      &--valid {
        background: var(--color-cell-valid);
      }

      &--invalid {
        background: var(--color-cell-invalid);
      }
    }
  }

  &__tools {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    &-btn {
      font-size: 16px;
      padding: clamp(0.313rem, 0.181rem + 0.56vw, 0.625rem);
    }
  }

  &__hints {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    gap: 10px;
    color: var(--color-text);

    &-text {
      font-size: 20px;
    }

    &-counter {
      font-size: 24px;
    }
  }

  &__assists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    &-btn {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &-text {
        font-size: 16px;
      }

      &-counter {
        font-size: 18px;
      }
    }
  }
}

@media (width <= 767px) {
  .game-screen {
    &__header {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;

      &-mode {
        width: 100%;
        text-align: center;
      }

      &-game-stats {
        width: 100%;
      }
    }

    &__progress-bar {
      margin-bottom: 15px;
    }

    &__tools {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 15px;
    }

    &__assists {
      grid-template-columns: repeat(2, 1fr);
    }

    .game-grid {
      margin-bottom: 15px;
    }
  }
}

@media (hover: hover) {
  .game-grid__cell:hover:enabled {
    box-shadow:
      0 1px 2px var(--box-shadow-first-color),
      0 1px 2px var(--box-shadow-second-color);
  }
}
