@use './variables' as *;

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: var(--color-bg);
  color: var(--color-text);
}

.app {
  padding: 20px;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
