.game-outcome-modal {
  &__content {
    text-align: center;
    max-width: 400px;
    padding: 32px;
  }

  &__header {
    margin-bottom: 32px;
  }

  &__title {
    font-size: 48px;
    margin: 0;
    margin-bottom: 5px;

    &--loss {
      color: var(--color-outcome-loss);
    }

    &--win {
      color: var(--color-accent);
    }
  }

  &__subtitle {
    font-size: 20px;
  }

  &__stats {
    margin-bottom: 32px;
    text-align: left;
    background: rgb(0 0 0 / 5%);
    padding: 24px;
    border-radius: 8px;
  }

  &__stat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
  }

  &__stat-row:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  &__stat-label {
    font-weight: bold;
    color: var(--color-text);
  }

  &__stat-value {
    font-weight: bold;
    color: var(--color-text);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__btn {
    width: 100%;
    padding: 1rem;
    font-size: 20px;
  }

  &__content--win {
    border: 3px solid var(--color-accent);
  }

  &__content--loss {
    border: 3px solid var(--color-outcome-loss);
  }
}

.game-outcome-modal__content--win .game-outcome-modal__stats {
  background: var(--color-bg);
}
