@use './variables' as *;

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
  outline: none;
  border: none;
  background: inherit;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $body-bg-color;
  color: $text-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}
