.results-table {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);

    &-title {
      font-size: 18px;
      font-weight: 400;
      color: var(--color-text);
    }
  }

  &__body {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
  }

  &__empty {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
  }
}
