.start-screen {
  padding: 50px;
  background: var(--color-card);
  border-radius: var(--card-border-radius);
  box-shadow:
    0 3px 6px var(--box-shadow-first-color),
    0 3px 6px var(--box-shadow-second-color);
  text-align: center;
  max-width: 75%;
  width: 100%;
}

.start-screen__title {
  font-size: 48px;
  color: var(--color-accent);
  margin-bottom: 20px;
}

.start-screen__author {
  text-align: center;
  margin-bottom: 30px;
}

.start-screen__author-span {
  display: inline-block;
  margin-right: 10px;
}

.start-screen__author-link {
  font-size: 20px;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  transition: all 0.3s ease;
}

.start-screen__mode-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-accent);
}

// .start-screen__mode-btn {
// }

.start-screen__controls-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.start-screen__controls-btn {
  width: 31%;
}

@media (hover: hover) {
  .start-screen__author-link:hover {
    color: var(--color-text);
  }

  .start-screen__author-link:active {
    border-color: var(--color-text);
  }
}
