$body-bg-color: #e3f2fd;
$text-color: #222;
$text-color-second: #fff;
$piano-bg: #222;
$piano-white-notes: #fff;
$piano-black-notes: #111;
$piano-notes-border: #333;
$piano-white-notes-hover: #dbdbdb;
$piano-black-notes-hover: #232323;
$piano-white-notes-active: #ccc;
$piano-black-notes-active: #303030;
$piano-edit-button-border: #a0a0a0;
$edit-input-focus: #878787;
$notification-bg: #222;
$notification-message: #ff2d2d;
$sequence-btn-bg: #333;
