@use '../../node_modules/modern-normalize/modern-normalize.css';
@use './variables';
@use './fonts';
@use './base';
@use './start-screen';
@use './modal';
@use './settings-modal';
@use './results-table';
@use './game-screen';
